.header{
    display:flex;
    justify-content:space-between;
}
.hesder2{
    display:flex;
    justify-content:flex-start;
}
.brands ul{
    display:flex;
    justify-content:space-between;
}
.slider{
    display:flex;
    justify-content: center;
}
