body {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
}
.header{
    margin-left:500px;
    margin-top:30px;
    color:white;
    text-decoration:none;
}
.header a{
    margin-right:20px;
    color:#e9b637;
}

.header input{
    color:#989898;
    background:#3c3c3c; border-color:white;
    height:30px;
    width:200px;
    margin-right:50px;
}

.logo{
    display:flex;
    position:absolute;
    margin-left:40px;
    margin-top:-20px;

}
.background{
    display:flex;
    position:absolute;
    background:#3c3c3c;
    width:101%;
    height:90px;
    margin-top:-70px;
    margin-left:-15px;
    z-index:-5;
}
.background1{
    display:flex;
    position:absolute;
    background:#f0f0f0;
    width:101%;
    height:140px;
    margin-top:0px;
    margin-left:-15px;
    z-index:-6;
}
.header1{
    margin-left:900px;
    margin-top:-25px;
    color:white;
    text-decoration:none;
}
.header1 a{
    text-decoration:none;
    margin-right:40px;
    color:white;
}
.hesder2{
    margin-left:800px;
    margin-top:70px;
    text-decoration:none;
    font-size:14px;
}
.hesder2 a{
    margin-left:80px;
    text-decoration:none;
    color:#3c3c3c;
}
.categori a{
    position:absolute;
    margin-left:100px;
    margin-top:-15px;
    text-decoration:none;
    color:#3c3c3c;
}
.brands ul{
    display:flex;
    justify-content:space-between;
    list-style-type:none;
    margin-top:20px;

}
.products div{
    width:150px;
    height:155px;
    border-radius:100px;
    border: 5px solid #e9b637;
    background:#f0f0f0;
}
.products li{
    text-align:center;
    width:170px;
}
.products p{
    text-decoration:none;
    color:black;
}
.products a{
    text-decoration:none;
}
.products img{
    position:relative;
    top:45px;

}
.text{
    margin-top: 50px;
    margin-left:100px;
}

.slaider-1{
    display:flex;
    justify-content: center;
    margin-top:54px;
    width: 1300px;
    height: 500px;
}

.slaider1-main{
    background-color: #e9b637;
    width:1055px;
    padding:0 0 0 100px;
    display: flex;
    overflow: hidden;

}

.slaider1-slaid-1{
    flex-shrink: 0;
    width:1200px;
    height:600px;
    margin-top:50px;
    background-image: url('../img/xiaomi_air_perf_pic_04_copy1.png ');
    background-position: 70% 0%;
    background-repeat: no-repeat;
}
.slaider1-slaid-2{
    flex-shrink: 0;
    width:1200px;
    height:600px;
    margin:0;
    background-image: url('../img/cellphones-electronics-wholesale-miami-florida.png');
    background-position: 80% 50%;
    background-repeat: no-repeat;
}
.slaider1-slaid-3{
    flex-shrink: 0;
    width:1200px;
    height:600px;
    margin:0;
    background-image: url('../img/HP-659499414-c04793291-zoom.png');
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
.slide{
    order:2;
}
.slide p{
    width:560px;
    margin-bottom: 50px;
}
.slide h2{
    width:715px;
    padding-top:50px;
    color:white;
    font-size: 34pt;
}
.slide span{
    color:black;
    font-size: 29pt;
}
.slaider-control-switches-1{
    width: 100px;
}
.slaider-control-switches-1 div:hover{
    background: white;
}
.slaider-control-switches-1 div{
    display: flex;
    text-align: center;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50px;
}
input[type=radio]:checked + .slide{
    order: 1;
}
.more{
    width: 205px;
    padding:15px 55px 15px 55px;
    border:1px solid white;
    border-radius: 5px;
    font-size:12pt;
    color:white;
}
.more:hover{
    font-size:12pt;
    background-color: white;
    color:#3c3c3c;
}
.more:active{
    font-size:12pt;
    background-color: #959595;
    border-color:#959595;
    color:#717171;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: -390px;
    z-index: 0;
}
.wind{
    display:flex;
    width:1000px;
    height:300px;
    margin-left:150px;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    margin-left:0px;
    width:150px;

}
.buttons button:hover{
    color:white;
    background:black;
    border-color:#e9b637;
}
.buttons button{
    border-color:#3c3c3c;
    background:white;
    width:200px;
    height:40px;
}
.imgs {
    position:relative;
    left:50px;

}
.text3 h3{
    display:flex;
    margin-left:100px;
    margin-top:30px;
}

.text3 pre{
    display:flex;
    margin-left:100px;
}
.line{
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px;
    z-index:70;
}
.blocks {
    display:flex;
    margin-left:50px;
}
.block1{
    display:flex;
    width:700px;
    height:500px;
    margin-left:50px;
    background:#e7e7e7;
}
.statia h3{
    margin-left:40px;
    color:#3c3c3c;
}
.statia hr{
    position:absolute;
    margin-left:40px;
    width:50px;
}
.statia pre{
    display:flex;
    color:#8c8c8c;
    margin-left:40px;
}
.statia ul{
    margin-top:20px;
    margin-left:20px;
    color:#8c8c8c;
}
.statia li{
    margin-top:20px;
}
.statia h4{
    margin-top:50px;
    margin-left:40px;
    color:#3c3c3c;
    background:#e9b637;
    width:170px;
}
.block2{
    display:flex;
    width:400px;
    height:500px;
    margin-left:0px;
    background:#3c3c3c;
}
.pochta h3{
    color:white;
    margin-left:40px;
}
.pochta hr{
    position:absolute;
    margin-left:40px;
    width:50px;
}
.pochta p{
    display:flex;
    color:white;
    margin-left:40px;
}
.pochta input{
    margin-left:40px;
    background:#515151;
    width:300px;
    height:30px;
    color:#a2a2a2;
    border-color:#a2a2a2;
}
.pochta pre{
    display:flex;
    color:#515151;
    margin-left:40px;
    font-size:10px;
}
.pochta button{
    margin-left:40px;
    border-color:#e9b637;
    background:#e9b637;
    width:300px;
    height:50px;
    color:#3c3c3c;
}
footer{
    background:#464646;
    margin-top:50px;
}
.footer-2{
    background:#3c3c3c;
}
.logo-1{
    display:flex;
    margin-left:50px;
}
.ssilk{
    display:flex;
    margin-left:700px;
}
.ssilk a{
    color:white;
    margin-left:80px;
    text-decoration:none;
}
.info{
    display:flex;

}
.info p{
    margin-left:50px;
    color:#a6a6a6;
}
.info a{
    position:absolute;
    text-decoration:none;
    margin-left:350px;
    margin-top:10px;
    font-size:20px;
    color:white;
}
.carta{
    display:flex;
    margin-left:810px;
}
.kab{
    margin-left:10px;
}
.kab a{
    margin-left:40px;
    text-decoration:none;
    color:white;
}
.seti{
    margin-top:-40px;
    margin-left:1050px;
}
.text7 {
    color:#a8a8a8;
    margin-left: 10px;
}
